wave { enabled=true }
// defaults
containersDir = "s3://org.umccr.nf-tower.general/intogen-plus-2024/containers/"
datasetsDir = "s3://org.umccr.nf-tower.general/intogen-plus-2024/datasets/"
annotationsFile = "s3://org.umccr.nf-tower.general/intogen-plus-2024/config/annotations.txt"
outputFolder = "intogen_analysis"


manifest {
  author = 'Barcelona Biomedical Genomics Lab'
  description = 'IntOGen analysis pipeline'
  homePage = 'http://www.intogen.org'
  doi = '10.1038/s41568-020-0290-x'
  mainScript = 'intogen.nf'
  defaultBranch = 'master'  
}

params {
   output = outputFolder
   annotations = annotationsFile
   containers = containersDir
   datasets = datasetsDir
   debug = false
   stepsFolder = "${params.output}/steps"
   seed = null
}


env {
    // set default values for datasets
    INTOGEN_DATASETS = params.datasets
    BGDATA_LOCAL = env.INTOGEN_DATASETS + '/bgdata'
    BGDATA_OFFLINE = "TRUE"
}


singularity {
	enabled = true
	cacheDir = '/tmp/containers'
}

profiles {
    bbglab {
        includeConfig 'config/bbglab.conf'
    }
    local {
        includeConfig 'config/local.conf'
    }
    aws {
        executor = 'awsbatch'
        workDir = 's3://org.umccr.nf-tower.tower/intogen-plus-2024/'
    }
}


process.containerPullCommand = '''
if [ ! -f ${task.container} ]; then
    aws s3 cp ${params.containers}/${task.containerFile} ${task.container}
fi
'''

process {
    cpus = 1
    errorStrategy = (params.debug)? 'ignore' : 'terminate'

	withLabel: core {
	        container = '/tmp/containers/intogen-core.simg'
	}
	withLabel: bgsignature {
	        container = '/tmp/containers/signature.simg'
	}
    withName: OncodriveFML {
        container = '/tmp/containers/oncodrivefml.simg'
    }
    withName: OncodriveCLUSTL {
    	container = '/tmp/containers/oncodriveclustl.simg'
    }
    withName: VEP {
    	container = '/tmp/containers/vep.simg'
    }
    withName: dNdScv {
    	container = '/tmp/containers/dndscv.simg'
    }
    withName: SMRegions {
    	container = '/tmp/containers/smregions.simg'
    }
    withName: CBaSE {
    	container = '/tmp/containers/cbase.simg'
    }
    withName: MutPanning {
    	container = '/tmp/containers/mutpanning.simg'
    }
    withName: HotMAPS {
    	container = '/tmp/containers/hotmaps.simg'
    }
    withName: deconstructSigs {
    	container = '/tmp/containers/deconstructsigs.simg'

    }
    withName: Combination {
    	container = '/tmp/containers/intogen-combination.simg'
    }
}

timeline {
  enabled = true
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
}

report {
  enabled = true 
  overwrite = false
}
