
// defaults
containersDir = "s3://org.umccr.nf-tower.general/intogen-plus-2024/containers/"
datasetsDir = "./datasets/"
annotationsFile = "s3://org.umccr.nf-tower.general/intogen-plus-2024/config/annotations.txt"
outputFolder = "intogen_analysis"


manifest {
  author = 'Barcelona Biomedical Genomics Lab'
  description = 'IntOGen analysis pipeline'
  homePage = 'http://www.intogen.org'
  doi = '10.1038/s41568-020-0290-x'
  mainScript = 'intogen.nf'
  defaultBranch = 'master'  
}

params {
   output = outputFolder
   annotations = annotationsFile
   containers = containersDir
   datasets = datasetsDir
   debug = true
   stepsFolder = "${params.output}/steps"
   seed = null
   workDir = 's3://org.umccr.nf-tower.general/intogen-plus-2024/'
}


env {
    // set default values for datasets
    INTOGEN_DATASETS = params.datasets
    BGDATA_LOCAL ='./datasets/bgdata/'
    BGDATA_OFFLINE ='TRUE'
}


profiles {
    bbglab {
        includeConfig 'config/bbglab.conf'
    }
    local {
        includeConfig 'config/local.conf'
    }
}


process {
    cpus = 4
    errorStrategy = (params.debug)? 'ignore' : 'terminate'
    container = 'ubuntu:20.04'
    containerOptions = 's3://org.umccr.nf-tower.general/intogen-plus-2024/'
	withLabel: core {
	        container = 'ghcr.io/jiajzhan-kairos/intogen-core:latest'
	}
	withLabel: bgsignature {
	        container = 'ghcr.io/jiajzhan-kairos/signature:latest'
	}
    withName: OncodriveFML {
        container = 'ghcr.io/jiajzhan-kairos/oncodrivefml:latest'
    }
    withName: OncodriveCLUSTL {
    	container = 'ghcr.io/jiajzhan-kairos/oncodriveclustl:latest'
    }
    withName: VEP {
    	container = 'ghcr.io/jiajzhan-kairos/vep:latest'
    }
    withName: dNdScv {
    	container = 'ghcr.io/jiajzhan-kairos/dndscv:latest'
    }
    withName: SMRegions {
    	container = 'ghcr.io/jiajzhan-kairos/smregions:latest'
    }
    withName: CBaSE {
    	container = 'ghcr.io/jiajzhan-kairos/cbase:latest'
    }
    withName: MutPanning {
    	container = 'ghcr.io/jiajzhan-kairos/mutpanning:latest'
    }
    withName: HotMAPS {
    	container = 'ghcr.io/jiajzhan-kairos/hotmaps:latest'
    }
    withName: deconstructSigs {
    	container = 'ghcr.io/jiajzhan-kairos/deconstructsigs:latest'
    }
    withName: Combination {
    	container = 'ghcr.io/jiajzhan-kairos/intogen-combination:latest'
    }
}

timeline {
  enabled = true
}

trace {
  enabled = true
  fields = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
}

report {
  enabled = true 
  overwrite = false
}
